<div class="col-md-6 offset-md-3">
<h3>Add Patient</h3>
<form (ngSubmit) = "onSubmit()">
    <div class = "form-group">
        <label> PID </label>
        <input type="text" class ="form-control" id = "pid"
    [(ngModel)] = "patient.pid" name = "pid">
    </div>
    <div class = "form-group">
    <label> PATIENT NAME </label>
        <input type="text" class ="form-control" id = "patientName"
    [(ngModel)] = "patient.patientName" name = "patientName">
    </div>
    <div class = "form-group">
    <label> PATIENT PROBLEM </label>
        <input type="text" class ="form-control" id = "patientProblem"
    [(ngModel)] = "patient.patientProblem" name = "patientProblem">
    </div>
    <button class="btn btn-success" type="submit">submit</button> 

</form>
</div>
